.kerdoiv-container {
  display: flex;
  max-width: 100%;
  padding: 10px;
}
.kerdoiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.kerdoiv h2 {
  color: #8db8e0;
  text-align: center;
  font-size: 40px;
  margin: 0 0 20px 0;
}
.fieldset-container {
  display: flex;
  flex-direction: row;
  max-width: 1500px;
  background-color: #8db8e0;
  border-radius: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
.kerdoiv fieldset {
  width: 250px;
  height: auto;
  border: 2px solid #192129;
  border-radius: 10px;
  max-width: 300px;
  margin: 10px;
}
.valasz {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.valasz * {
  margin: 5px;
}
.gomb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 300px;
  height: 60px;
  background-color: #8db8e0;
  border-radius: 0 0 10px 10px;
}
.gomb button {
  background-color: #133555;
  border-radius: 10px;
  color: white;
  padding: 14px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
.tapajanlo {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding: 10px;
}
.table-wrapper h2 {
  color: #8db8e0;
  text-align: center;
  font-size: 40px;
  margin: 0 0 20px 0;
}
th, td {
  border: 2px solid #192129;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 2px 3px 1px #8db8e0;
  background-color: #8db8e0;
  text-align: center;
}
th {
  background-color: #133555;
  color: white;
}
