

.div-container {
    max-width: 700px;
    float: inherit;
    margin: 10px 400px 10px 400px;
    padding: 20px;
    background-color: #8db8e0;
    border-radius: 10px;
    text-align: center;
    flex-direction: inherit;

}
img {

    border-radius: 10px;
    border-radius: 10px;
    border-color: #192129;
    border-style: solid;
    border-width: 3px;
}


