
.section-container {
    flex-direction: column;
    background:  #192129;


}
section {
    max-width: 1200px;
    float: inherit;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #8db8e0;
    border-radius: 10px;
}
.igazit{
    text-align: right;
}

@media screen and (max-width: 800px) {
    .section-container, .aside-container {
        flex-direction: column !important;
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    section, aside {
        overflow: hidden;
        margin: 10px;
    }
}

img {

    margin: auto;
    border-radius: 10px;
    border-radius: 10px;
    border-color: #192129;
    border-style: solid;
    border-width: 3px;
    flex-wrap: wrap;
    justify-content: center;

}

.row::after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 40.33%;
    padding: 15px;
    margin: auto;
}
.column-tuzijatek{
    background-image: url('/kutya_menhely/img/tuzijatek.jpg');
    margin: auto;
    margin-left: 600px;
    background-size: cover;
    background-position: right;
    border-radius: 10px;
    border-radius: 10px;
    border-color: #192129;
    border-style: solid;
    border-width: 3px;
    background-size: 100% 100%;
    max-width: 500px;
    max-height: 300px;
    justify-content: right;
    flex-direction: column;
}
.column-seta{
    background-image: url('/kutya_menhely/img/seta.jpg');
    margin: auto;
    margin-left: 600px;
    background-size: cover;
    background-position: right;
    border-radius: 10px;
    border-radius: 10px;
    border-color: #192129;
    border-style: solid;
    border-width: 3px;
    background-size: 100% 100%;
    max-width: 500px;
    max-height: 300px;
    justify-content: right;
    flex-direction: column;
}

.column-ivartalanitas{
    background-image: url('/kutya_menhely/img/ivartalanitas.jpg');
    margin: auto;
    margin-left: 600px;
    background-size: cover;
    background-position: right;
    border-radius: 10px;
    border-color: #192129;
    border-style: solid;
    border-width: 3px;
    background-size: 100% 100%;
    max-width: 500px;
    max-height: 300px;
    justify-content: right;
    flex-direction: column;
}
.column-gyujtesbovitesre{
    margin: auto;
    background-image: url('/kutya_menhely/img/gyujtesbovitesre.png');
    margin-left: 600px;
    background-size: cover;
    background-position: right;
    border-radius: 10px;
    border-color: #192129;
    border-style: solid;
    border-width: 3px;
    background-size: 100% 100%;
    max-width: 500px;
    max-height: 300px;
    justify-content: right;
    flex-direction: column;
}
.column-gondozotkeresunk{
    margin: auto;
    background-image: url('/kutya_menhely/img/gondozotkeresunk.jpg');
    margin-left: 600px;
    background-size: cover;
    background-position: right;
    border-radius: 10px;
    border-color: #192129;
    border-style: solid;
    border-width: 3px;
    background-size: 100% 100%;
    max-width: 500px;
    max-height: 250px;
    justify-content: right;
    flex-direction: column;
}
.column-etelgyujtes{
    margin: auto;
    background-image: url('/kutya_menhely/img/etelgyujtes.jpg');
    margin-left: 600px;
    background-size: cover;
    background-position: right;
    border-radius: 10px;
    border-color: #192129;
    border-style: solid;
    border-width: 3px;
    background-size: 100% 100%;
    max-width: 500px;
    max-height: 300px;
    justify-content: right;
    flex-direction: column;
}


.behuz li {
    list-style-type: disc;
    margin: 5px;
}