div .section-container > h2 {
    font-size: 40px;
    color: #8db8e0;
    text-transform: capitalize;
    margin: 10px 10px 0 10px;
    padding: 90px 0 0 0;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.section-container {
    flex-direction: column;
    
}
section {
    max-width: 1150px;
    float: left;
    margin: 10px 10px 0px 10px;
    padding: 10px;
    background-color: #8db8e0;
    border-radius: 10px;
}
.aside-container {
    flex-direction: column;
    
}
aside {
    width: 350px;
    float: left;
    margin: 10px 10px 10px 0;
    padding: 5px;
    background-color: #8db8e0;
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    .flex-container {
        flex-direction: column !important;
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    .section-container, .aside-container {
        flex-direction: column !important;
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    section, aside {
        overflow: hidden;
        margin: 10px;
    }
}
/*eddig tart a section és aside formázása*/
.img-wrapper {
    width: 100%;
    line-height: 0;
    border-bottom: 1px solid #192129;
    margin-bottom: 10px;
    padding-bottom: 25px;
}
.kutya-img {
    float: left;
    border-radius: 40px;
}
.img-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 5px;
    padding-left: 10px;
}
.kutya-nev {
    height: 25px;
    font-weight: bold;
    color: #192129;
    text-transform: capitalize;
    font-style: italic;
}
.kutya-fajta {
    height: 25px;
    color: #192129;
    text-transform: uppercase;
    font-size: 14px;
}
.nem-kor-wrapper {
    height: 20px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
}
.nem {
    color: #192129;
    text-transform: uppercase;
    border-right: 1px solid #192129;
    padding-right: 5px;
}
.kor {
    color: #192129;
    text-transform: uppercase;
    padding-left: 5px;
}
.behuz li {
    list-style-type: disc;
    margin: 5px;
}
/*eddig tart a kutya infók formázása*/