h2 {
    font-size: 30px;
    font-weight: bold;
    color: #483434;
    margin: 0 0 20px 0;
}
.body-container {
    display: flex;
    max-width: 100%;
    justify-content: center;
}
.flex-container {
    display: flex;
    max-width: 1500px;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}
.section-container {
    display: flex;
    flex-direction: column;
}
section {
    max-width: 1150px;
    float: left;
    margin: 0 10px 10px 0;
    padding: 10px;
    background-color: #EED6C4;
    border-radius: 10px;
    text-align: justify;
}
section ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;
}
.aside-container {
    display: flex;
    flex-direction: column;
    
}
aside {
    width: 350px;
    float: left;
    margin: 0;
    padding: 10px;
    background-color: #EED6C4;
    border-radius: 10px;
}
.video-container {
    display: flex;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 100%;
}
@media screen and (max-width: 800px) {
    .flex-container {
        flex-direction: column !important;
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    .section-container, .aside-container {
        flex-direction: column !important;
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    section, aside {
        overflow: hidden;
        margin: 10px;
    }
}
/*eddig tart a section és aside formázása*/
.img-wrapper {
    width: 100%;
    line-height: 0;
    border-bottom: 1px solid #483434;
    margin-bottom: 10px;
    padding-bottom: 25px;
}
.kutya-img {
    float: left;
    border-radius: 40px;
    border: 2px solid #483434;
}
.img-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 5px;
    padding-left: 10px;
}
.kutya-nev {
    height: 25px;
    font-weight: bold;
    color: #483434;
    text-transform: capitalize;
    font-style: italic;
}
.kutya-fajta {
    height: 25px;
    color: #483434;
    text-transform: uppercase;
    font-size: 14px;
}
.nem-kor-wrapper {
    height: 20px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
}
.nem {
    color: #483434;
    text-transform: uppercase;
    border-right: 1px solid #483434;
    padding-right: 5px;
}
.kor {
    color: #483434;
    text-transform: uppercase;
    padding-left: 5px;
}
.behuz li{
    padding: 0 0 0 30px;
    list-style-type: disc;
    margin: 5px;
}
.kuglof-wrapper{
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}
.kuglof-img {
    max-width: 250px;
    border-radius: 10px;
    border-color: #483434;
    border-style: solid;
    border-width: 3px;
    margin: 5px;
}
.video {
    display: flex;
    width: 100%;
    border-radius: 10px;
    border: 3px #483434 solid;
}

